:root {
  --darkBlue: #2d5b96;
  --lightBlue: #4a73b1;
  --darkGreen: #77c0b2;
  --lightGreen: #dbe4cf;
  --darkBeige: #d8c4a8;
  --lightBeige: #ffe9ca;
  --lightCream: #fffbf6;
  --offWhite: #fffefc;
}

body {
  background-color: var(--lightCream);
  height: 100%;
  width: 100%;
}

.mainback {
  width: 100%;
  position: absolute;
  top: 8rem;
  background-color: var(--lightCream);
  margin: 0;
  border-radius: 2% 2% 0 0;
  height: 100%;
}

.mainLogo {
  width: 70%;
  height: auto;
  max-width: 300px;
}

line {
  margin: 0.2em;
  stroke: var(--lightBeige);
  height: 5px !important;
  opacity: 1;
}

.topNav {
  text-align: center;
  padding-top: 2.1vh;
  display: block;
  background-color: var(--lightBlue);
  height: 500px;
}

.topNav h4 {
  color: var(--offWhite);
  font-family: "Barlow Condensed", sans-serif;
  margin: 0;
  padding: 0;
}

footer {
  height: 3rem;
  font-size: 12px;
  position: fixed;
  bottom: 0;
  z-index: 1000000;
  padding: 0;
  background: var(--lightCream);
  padding-top: 3%;
  width: 100%;
  padding: 0 0.9vw 8vh 0.9vw;
  max-width: unset !important;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
}

footer .row {
  padding: 0px;
  margin: 0px;
}

footer i {
  font-size: 20px;
}

footer a {
  text-decoration: none;
}

/* index page */
#indexPageFooter #data i,
#indexPageFooter #data a {
  color: var(--darkGreen) !important;
}

/* .data footer #status i,
.data footer #status a {
  color: var(--darkBeige);
} */

#indexPageFooter #calibrate i,
#indexPageFooter #calibrate a {
  color: var(--darkBeige);
}

/* status page */
/* .status footer #data i,
.status footer #data a {
  color: var(--darkBeige);
}

.status footer #status i,
.status footer #status a {
  color: var(--darkGreen);
}

.status footer #calibrate i,
.status footer #calibrate a {
  color: var(--darkBeige);
} */

/* calibrate page */
#calibratePageFooter footer #data i,
#calibratePageFooter footer #data a {
  color: var(--darkBeige);
}

/* .calibrate footer #status i,
.calibrate footer #status a {
  color: var(--darkBeige);
} */

#calibratePageFooter footer #calibrate i,
#calibratePageFooter footer #calibrate a {
  color: var(--darkGreen);
}

.btn-primary {
  background-color: var(--darkGreen);
  border: none;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
  font-size: 20px;
  min-width: 100px;
}

.btn-secondary {
  background-color: var(--darkBeige);
  border: none;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.btn-primary:hover,
.btn-primary:active {
  background-color: var(--darkGreen);
  border: none;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;

  box-shadow: 5px 10px 8px #888888;
}

.btn-secondary:hover,
.btn-secondary:active {
  background-color: var(--darkBeige);
  border: none;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;

  box-shadow: 5px 10px 8px #888888;
}

.card-body,
.card {
  background-color: var(--lightBlue);
  border-radius: 1rem !important;
  box-shadow: 5px 10px 2px rgba(74, 115, 177, 0.23);
}

h5 {
  color: var(--lightGreen);
  font-family: "Barlow", sans-serif;
  font-weight: bold;
}

p {
  color: var(--offWhite);
  font-family: "Barlow Condensed", sans-serif;
}

.calibrate .mainback h4 {
  color: var(--darkBlue);
  margin: 0 0 0 2%;
}

.calibrate .mainback h5 {
  color: var(--darkGreen);
  font-weight: 800;
}

.calibrate .mainback button {
  min-width: 100px;
}

.form-control {
  border: 5px solid var(--lightGreen);
}

.redText {
  color: red;
}

.greenText {
  color: var(--darkGreen);
}

#calibratePage .card-title {
  color: var(--darkBlue);
}

h4 {
  color: var(--lightBlue);
}
